# External Projects
hive

/ifc
/obj
/bin
/lib
/ext
/test

# Crypto
/util/ssl/*.csr
/util/ssl/*.pem

# tmp/cfg
tmp/cfg
tmp/test

# DUB
.dub
dub.selections.json
docs.json
__dummy.html
docs/
__test__library__

# Code coverage
*.lst

# Logs
*.log

# Build
make
make.o
*.o
*.obj
*.pdb